NOMINATIM_REGION_PBF_URL="https://download.geofabrik.de/australia-oceania/new-zealand-latest.osm.pbf"
NOMINATIM_PROJECT_DIR="/srv/nominatim-project"
NOMINATIM_LISTEN_HOST="127.0.0.1"
NOMINATIM_LISTEN_PORT="8088"
NOMINATIM_IMPORT_STYLE="address"
NOMINATIM_REVERSE_ONLY="1"
NOMINATIM_REFRESH_PBF="0"
NOMINATIM_MIN_FREE_DISK_GB="80"
NOMINATIM_MIN_FREE_MEMORY_MB="4096"
